body, .content__title, .content__descr {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'MyriadPro';
  src: url("../font/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: MyriadPro;
  color: #f2839a; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; }

.logo {
  width: 100%;
  height: 100%;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center; }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.wrp {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.header {
  background-color: #fed4bc; }
  .header__blocks {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-flow: wrap;
        -ms-flex-flow: wrap;
            flex-flow: wrap; }
  .header__logo {
    min-width: 150px;
    height: 50px; }
    @media screen and (min-width: 1024px) {
      .header__logo {
        min-width: 230px;
        height: 80px; } }
  .header__nav {
    display: none; }
    @media screen and (min-width: 768px) {
      .header__nav {
        display: block;
        margin-left: 20px; } }
  .header__account {
    margin-left: auto;
    width: 30px;
    height: 30px; }
    @media screen and (min-width: 768px) {
      .header__account {
        width: 35px;
        height: 35px; } }
    .header__account--icon {
      width: 100%;
      height: 100%;
      background-image: url("../img/avt.png");
      background-repeat: no-repeat;
      -webkit-background-size: contain;
              background-size: contain;
      background-position: center; }

.nav__link {
  text-decoration: none;
  display: block;
  color: #f2839a; }

.nav__item {
  margin-left: 20px;
  display: block; }
  .nav__item:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #f2839a;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .nav__item:hover:after {
    width: 100%; }
  @media screen and (min-width: 768px) {
    .nav__item {
      font-size: 14px; } }

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-image: url("../img/content-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .content__wrp {
    padding-top: 30px; }
    @media screen and (min-width: 420px) {
      .content__wrp {
        padding-top: 70px; } }
    @media screen and (min-width: 768px) {
      .content__wrp {
        margin: 0;
        padding: 0;
        margin-top: 150px; } }
    @media screen and (min-width: 1024px) {
      .content__wrp {
        margin: 170px  auto 0;
        max-width: 950px; } }
  .content__title {
    margin: 0 auto;
    width: 70%;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #f2839a;
    font-weight: normal; }
    @media screen and (min-width: 420px) {
      .content__title {
        max-width: 255px; }
        .content__title:after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background-color: #f2839a; } }
    @media screen and (min-width: 768px) {
      .content__title {
        margin: 0;
        padding: 0;
        max-width: 465px;
        font-size: 24px; } }
    @media screen and (min-width: 1024px) {
      .content__title {
        font-size: 30px;
        max-width: 580px; } }
  .content__descr {
    margin: 20px auto 0;
    width: 70%;
    text-align: center;
    color: #f2839a;
    font-size: 12px;
    font-weight: normal; }
    @media screen and (min-width: 420px) {
      .content__descr {
        margin-top: 50px; } }
    @media screen and (min-width: 768px) {
      .content__descr {
        margin: 0;
        padding: 0;
        margin-top: 20px;
        font-size: 18px;
        text-align: left;
        width: 80%; } }
    @media screen and (min-width: 1024px) {
      .content__descr {
        font-size: 20px; } }
  .content__block {
    margin-top: 65px;
    padding: 20px 0;
    -webkit-border-radius: 18px;
            border-radius: 18px;
    position: relative;
    background-color: #fed4bc; }
    @media screen and (min-width: 420px) {
      .content__block {
        margin-top: 125px; } }
    @media screen and (min-width: 768px) {
      .content__block {
        margin: 0;
        padding: 0;
        margin-top: 50px;
        padding: 30px 0; } }
    @media screen and (min-width: 1024px) {
      .content__block {
        padding: 60px 0 50px; } }
    .content__block:after {
      content: '';
      width: 75px;
      height: 75px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background-image: url("../img/content-image.png");
      -webkit-background-size: cover;
              background-size: cover;
      -webkit-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
              transform: translateY(-100%); }
      @media screen and (min-width: 768px) {
        .content__block:after {
          width: 150px;
          height: 150px; } }
    .content__block--descr {
      text-align: center;
      max-width: 160px;
      margin: 0 auto 15px; }
      .content__block--descr:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #f2839a; }
      @media screen and (min-width: 768px) {
        .content__block--descr {
          margin: 0 0 15px;
          max-width: 200px;
          text-align: left;
          padding-left: 40px; } }

@media screen and (min-width: 768px) {
  .form__wrp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.form__row {
  margin: 0 auto 10px;
  width: 70%; }
  @media screen and (min-width: 768px) {
    .form__row:first-child {
      width: 20%; }
    .form__row:nth-child(2) {
      width: 40%;
      max-width: 300px; }
    .form__row:last-child {
      width: 20%; } }
  @media screen and (min-width: 1024px) {
    .form__row:first-child {
      max-width: 165px; }
    .form__row:nth-child(2) {
      max-width: 320px; }
    .form__row:last-child {
      max-width: 210px; } }

.form__input {
  margin-bottom: 10px;
  padding: 10px 15px;
  width: 100%;
  border: 1px solid #ef6f92;
  -webkit-border-radius: 18px;
          border-radius: 18px;
  outline: none;
  color: #f2839a; }
  .form__input_top {
    background-color: #fff2eb; }
  .form__input::-webkit-input-placeholder {
    color: #f2839a; }
  .form__input::-moz-placeholder {
    color: #f2839a; }
  .form__input:-ms-input-placeholder {
    color: #f2839a; }
  .form__input::-ms-input-placeholder {
    color: #f2839a; }
  .form__input::placeholder {
    color: #f2839a; }

.form__submit {
  padding: 10px 0;
  display: block;
  width: 100%;
  background-color: #ef6f92;
  border: none;
  -webkit-border-radius: 18px;
          border-radius: 18px;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  cursor: pointer; }
  .form__submit:hover {
    background-color: #df194f; }

.footer {
  background-color: #fed4bc; }
  .footer__wrp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__logo {
    width: 100px;
    height: 30px; }
  .footer__support {
    font-size: 12px; }
    .footer__support--link {
      text-decoration: none;
      color: #f2839a; }
    .footer__support:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #f2839a; }
