@import "mixin";
@import "variables";

@font-face {
  font-family: 'MyriadPro';
  src: url('../font/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
	@extend %reset;
	font-family: MyriadPro;
	color: map-get($colors, text);	
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.logo {
	width: 100%;
	height: 100%;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.nav {
	display: flex;
}

.wrp {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.header {
	background-color: map-get($colors, bg);
	
	&__blocks {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		flex-flow: wrap;		
	}

	&__logo {
		min-width: 150px;
		height: 50px;

		@include large-screen() {
			min-width: 230px;
			height: 80px;
		}
	}

	&__nav {
		display: none;

		@include medium-screen() {
			display: block;
			margin-left: 20px;
		}
	}

	&__account {
		margin-left: auto;
		width: 30px;
		height: 30px;

		@include medium-screen() {
			width: 35px;
			height: 35px;
		}

		&--icon {
			width: 100%;
			height: 100%;
			background-image: url('../img/avt.png');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}
	}
}

.nav {

	&__link {
		text-decoration: none;
		display: block;
		color: map-get($colors, text);
	}

	&__item {
		margin-left: 20px;
		display: block;

		&:after {
			content: '';
			display: block;
			width: 0;
			height: 2px;
			background-color: map-get($colors, text);
			transition: .2s;
		}

		&:hover:after {
			width: 100%;
		}

		@include medium-screen() {
			font-size: 14px;
		}
	}
}

.content {
	flex: 1 0 auto;
	background-image: url('../img/content-bg.png');
	background-repeat: no-repeat;
	background-size: cover;

	&__wrp {
		padding-top: 30px;

		@include small-screen() {
			padding-top: 70px;
		}

		@include medium-screen() {
			margin: 0;
			padding: 0;
			margin-top: 150px;
		}

		@include large-screen() {
			margin: 170px  auto 0;
			max-width: 950px;

		}
	}

	&__title {
		@extend %reset;
		margin: 0 auto;
		width: 70%;
		font-size: 13px;
		text-align: center;
		text-transform: uppercase;
		color: map-get($colors, text);
		font-weight: normal;

		@include small-screen() {
			max-width: 255px;
			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 1px;
				background-color: map-get($colors, text);
			}
		}

		@include medium-screen() {
			margin: 0;
			padding: 0;
			max-width: 465px;
			font-size: 24px;
		}

		@include large-screen() {
			font-size: 30px;
			max-width: 580px;
		}
	}

	&__descr {
		@extend %reset;
		margin: 20px auto 0;
		width: 70%;
		text-align: center;
		color: map-get($colors, text);
		font-size: 12px;
		font-weight: normal;

		@include small-screen() {
			margin-top: 50px;
		}

		@include medium-screen() {
			margin: 0;
			padding: 0;
			margin-top: 20px;
			font-size: 18px;
			text-align: left;
			width: 80%;
		}

		@include large-screen() {
			font-size: 20px;
		}
	}

	&__block {
		margin-top: 65px;
		padding: 20px 0;
		border-radius: 18px;
		position: relative;
		background-color: map-get($colors, bg);

		@include small-screen() {
			margin-top: 125px;
		}

		@include medium-screen() {
			margin: 0;
			padding: 0;
			margin-top: 50px;
			padding: 30px 0;
		}

		@include large-screen() {
			padding: 60px 0 50px;
		}
		
		&:after {
			content: '';	
			width: 75px;
			height: 75px;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			background-image: url('../img/content-image.png');
			background-size: cover;
			transform: translateY(-100%);

			@include medium-screen() {
				width: 150px;
				height: 150px;
			}
		}

		&--descr {
			text-align: center;
			
			max-width: 160px;
			margin: 0 auto 15px;
			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 1px;
				background-color: map-get($colors,text);
			}

			@include medium-screen() {
				margin: 0 0 15px;
				max-width: 200px;
				text-align: left;
				padding-left: 40px;
			}
		}

		&--form {

		}
	}
}

.form {

	&__wrp {

		@include medium-screen() {
			display: flex;
		}	
	}

	&__row {
		margin: 0 auto 10px;
		width: 70%;

		@include medium-screen() {
			&:first-child {
				width: 20%;
			}

			&:nth-child(2) {
				width: 40%;
				max-width: 300px;
			}

			&:last-child {
				width: 20%;
			}
		}

		@include large-screen() {
			&:first-child {
				max-width: 165px;
			}

			&:nth-child(2) {
				max-width: 320px;
			}

			&:last-child {
				max-width: 210px;
			}
		}
	}
	
	&__input {
		margin-bottom: 10px;
		padding: 10px 15px;
		width: 100%;
		border: 1px solid map-get($colors, btn);
		border-radius: 18px;
		outline: none;
		color: map-get($colors, text);

		&_top {
			background-color: #fff2eb;
		}

		&::placeholder {
			color: map-get($colors,text);
		}
	}

	&__submit {
		padding: 10px 0;
		display: block;
		width: 100%;
		background-color: map-get($colors, btn);
		border: none;
		border-radius: 18px;
		color: #fff;
		text-transform: uppercase;
		outline: none;
		cursor: pointer;

		&:hover {
			background-color: darken(map-get($colors, btn), 20%);
		}
	}
}

.footer {
	background-color: map-get($colors, bg);

	&__wrp {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		width: 100px;
		height: 30px;
	}

	&__support {
		font-size: 12px;

		&--link {
			text-decoration: none;
			color: map-get($colors, text);
		}

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background-color: map-get($colors,text);
		}
	}
}


